! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
! Use extended color scheme
rofi.color-enabled:                  true

! Color scheme for active row
rofi.color-active:                   #815ba4
! Color scheme window
rofi.color-window:                   #00315340
! Separator style (none, dash, solid)
rofi.separator-style:                none
